body {
  font-family: 'Courier New', monospace;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  width: 600px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 20px;
}

#game-output {
  height: 300px;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: scroll;
}

#user-input {
  width: 80%;
  padding: 10px;
}

#submit-btn {
  width: 18%;
  padding: 10px;
  margin-left: 2%;
}

/* Character Creation Form Stylings */
#character-creation {
  margin-bottom: 20px;
}

#character-creation h2 {
  margin-bottom: 10px;
}

#character-creation label, #character-creation select {
  margin: 5px 0;
}

#character-creation button {
  margin-top: 10px;
}

/* character stats stylings */
#character-stats {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #f9f9f9;
}

#character-stats h3 {
  margin-top: 0;
}

#chracter-stats p {
  margin: 5px 0;
}